*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Donut {
  display: flex;
  position: relative;
  &__svg {
    border-radius: 50%;
    display: block;
  }
  &__track {
    fill: transparent;
  }
  &__indicator {
    fill: transparent;
    stroke-dasharray: 0 10000;
    transition: all 2s ease;
  }
}
